<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TOPICO</title>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/publics/swiperJs/swiper-bundle.min.css" />

    <!-- Link Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Link File CSS -->
    <link rel="stylesheet" href="/publics/assets/styles/style.css">
</head>

<body class="menu-side-in-bag feature-bag">
    <header>

        <div class="header-top">
            <div class="contanier">
                <p> Chào mừng đến với cửa hàng Ex Primo</p>
                <div class="link-top-heder">
                    <a href="#">Tài khoản của tôi</a>
                    <a href="#">Danh sách yêu thích của tôi</a>
                    <a href="#">Đăng nhập</a>
                    <a href="#">So sánh</a>
                </div>
            </div>
        </div>

        <div class="header-info">
            <div class="contanier">
                <img src="/publics/assets/img/home/logo.png" alt="">

                <div class="search-bar">
                    <form action="">
                        <input type="search" placeholder="Tìm kiếm sản phẩm của bạn...">
                        <button class="btn-srch">Tìm kiếm</button>
                    </form>
                </div>
                <div class="card">
                    <div class="price">
                        <p>Giỏ hàng :</p>
                        <span>255.00 VND</span>
                    </div>
                    <a href="mycart.html"><i class="fa-solid fa-bag-shopping"></i> <span
                            class="count-in-card">2</span></a>
                </div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="contanier">
                <i id="open-side" class="fa-solid fa-bars"></i>
                <ul class="nav-links">

                    <li><a href="index.html"> Trang chủ</a>

                    </li>

                    <li>
                        <a href="features.html">Thiết bị điện</a>

                        <div class="drobdwon">
                            <ul>
                                <li><a href="betuflpage.html">Máy giặt</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Tủ lạnh</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Máy hút bụi</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Cửa sổ</a></li>
                            </ul>
                        </div>
                    </li>

                    <li><a href="about.html"> Đồ gia dụng</a></li>
                    <li><a href="contact.html">Điện thoại di động và phụ kiện</a></li>
                    <li><a href="index.html"> Quần áo </a></li>

                    <li><a href="index.html"> Mỹ phẩm</a></li>
                    <li><a href="index.html"> Chăn ga gối đệm</a></li>
                    <li><a href="index.html"> Thảm</a></li>

                </ul>
            </div>
        </div>

    </header>

    <section class="fuature-sec">
        <div class="contanier">
            <div class="top-fuature">
                <h1>Khám phá và mua sắm những sản phẩm tốt nhất từ cửa hàng yêu thích của bạn Ex Primo</h1>
                <p>Tìm thấy mọi thứ bạn cần để biến ngôi nhà của mình thành không gian thông minh và kết nối. Cửa hàng Ex Primo của chúng tôi cung cấp nhiều thiết bị đa dạng để đáp ứng nhu cầu của bạn.</p>

            </div>
            <div class="boxs">

                <div class="box column product-item">

                    <div class="product-btn">
                        <ul class="product-action">
                            <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa-solid fa-cart-arrow-down"></i></a></li>
                            <li><a href="#"><i class="fa-solid fa-print"></i></a></li>
                        </ul>
                    </div>

                    <div class="div-img">
                        <span class="discount">34%</span>
                        <img src="/publics/assets/img/home/product-8.jpg" class="img-product">
                        <img src="/publics/assets/img/home/product-1.jpg" class="hover-img">
                    </div>
                    <div class="content">
                        <a class="product-item-link"> Điện thoại Android Dual SIM G3 </a>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <div class="price">
                            <span>$120.00</span>
                            <del>$125.00</del>
                        </div>

                    </div>
                </div>

                <!-- Các sản phẩm khác tương tự được dịch như trên -->

            </div>

            <div class="btn-page">
                <ul>
                    <li>
                        </li>
                    <li class="active">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>>></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="slide-sec contanier">
        <div id="side-bar" class="side-bar">
            <h5><i class="fa-solid fa-bars"></i> MUA SẮM THEO DANH MỤC</h5>
            <img class="logo-slide" src="/publics/assets/img/home/logo.png" alt="">
            <i id="btn-close" class="fa-solid fa-bars fa-times"></i>
            <ul class="side-links">
                <a href="#">
                    <li>Thiết bị gia dụng</li>
                </a>
                <a href="#">
                    <li>Đồ chơi trẻ em</li>
                </a>
                <a href="#">
                    <li>Sạc</li>
                </a>
                <a href="#">
                    <li>Chăn ga gối đệm</li>
                </a>
                <a href="#">
                    <li>Điện thoại</li>
                </a>
                <a href="#">
                    <li>Quần áo</li>
                </a>
                <a href="#">
                    <li>Giày dép</li>
                </a>
                <a href="#">
                    <li>Phụ kiện</li>
                </a>
                <a href="#">
                    <li>Mỹ phẩm</li>
                </a>
                <a href="#">
                    <li>TV</li>
                </a>
            </ul>
        </div>
    </section>

    <div class="newsletter">
        <div class="contanier">
            <div class="subscribe-content">
                <img src="/publics/assets/img/home/icon_email.png" alt="">
                <div class="text">
                    <h4>Đăng ký để nhận tin tức mới nhất</h4>
                    <p>Đăng ký email để nhận tin tức mới nhất và sản phẩm mới</p>
                    <span></span>
                </div>
            </div>
            <div class="subscribe-form">
                <form action="">
                    <input type="search" placeholder="Nhập email của bạn để đăng ký">
                    <button class="btn-srch">Đăng ký</button>
                </form>
            </div>
        </div>
    </div>  

    <footer>
        <div class="contanier">
            <div class="top-footer">
                <div class="row">
                    <img src="/publics/assets/img/home/logo.png" alt="">
                    <div class="hotline">

                        <div class="hotline-text">
                            <h6>Hỗ trợ khách hàng 24/7</h6>
                            <span>(+100) 123 456 7890</span>
                        </div>
                        <i class="fa-solid fa-headset"></i>
                    </div>

                </div>
                <div class="small-row">
                    <h6>Tìm hiểu thêm về chúng tôi</h6>
                    <div class="links-row">
                        <a href="#">
                            <!-- Liên kết dịch vụ khác -->
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
